<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Detial</title>
    <link rel="stylesheet" href="./static/css/search-font.css">
</head>
<body>
    <div class="container">
        <h1 class="header">What fonts?</h1>
        <div class="url-search">
            <form method="post">
                <span class="inputfield-head">Enter url of the font file:</span>
                <input type="text" placeholder="uniform resources locator..." class="inputbox"  name="url"/>
            </form>
        </div>
    </div>
</body>
</html>